<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Koko Level-Up</title>
    <link rel='stylesheet' href='/level-up/style.css' />
    <style>
        {{css}}
    </style>
</head>
<body>
    <div class='card'>
        <div class='avatar'>
            <img class='blurShadow'src="{{avatar}}"/>
            <img src="{{avatar}}"/>
        </div>
        <div style="flex: 1"></div>
        <div class='level'>
            <p class='levelTitle'>Level {{level}}</p>
            <div class='progress'></div>
        </div>
    </div>
</body>
</html>